
#txt2{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
}
#txt3{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 25px;
}
#vision{
    font-family: cursive;
    font-weight: 200;
    text-align: left;
    background-color:rgba(44, 40, 40, 0.932);
    color: aliceblue;
}
#mission{
    font-family: cursive;
    font-weight: 200;
    text-align: left;
    background-color: rgba(44, 40, 40, 0.932);
    color: aliceblue;
}
#quote{
    font-family: cursive;
    font-weight: bolder;
    font-size: large;
    
 
}
#ll{
    align-content: flex-end;
}
#colo{
    background-color: rgba(44, 40, 40, 0.932);
    height: 200px;
    width: 100%;
}