
   <div class=" text-center text-lg-start bg-black">
   <!-- Grid container -->
    <div class="container p-4 bg-black">
      <!--Grid row-->
      <div id="colo" class="row ">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 id="vision" class="text-uppercase">VISION</h5>
  
          <p id="vision">
          Food one of the basic requirement of human is being wasted on large amount on daily basis. When minority of population
          is wating a large quantity of food there is people who dies and suffers from malnutrition.Here we present a Customizable
          catering service where you can customize your menu and order items according to your choice.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5  id="mission" class="text-uppercase">MISSION</h5>
  
          <p id="mission">
            Our aim is to provide the customer a choice to customize their menu by choosing the quantity and items they want in an 
            affordable rate. To make every special event more special .There is only one options it's crave caters
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
   </div>
    <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://images.unsplash.com/photo-1518619745898-93e765966dcd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZXZlbnQlMjBmb29kfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
      height: 400px;
    "
  >
    <div  id="ll" class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-bottom h-100">
         
        <div  class="text-white">
            <br><br>
          <h1 class="mb-3">Lets make it delicious</h1>
          
          <a id="quote" class="btn btn-outline-light btn-lg" href="#!" role="button"
          >Quote your order today</a
          >
        </div>
      </div>
    </div>
  </div>
  
   
  